<div class="container">	
	<h1 class="text-center">Welcome <%= current_user.full_name %></h1>
	<h2>Email: <%= current_user.email %></h2>

	<% if current_user.about_me %>
		<p><%= current_user.about_me %></p>
	<% end %>

	<%= render 'form', post: @post %>

	<%= link_to 'Back', posts_path %>
</div>